AGENT_YANDEX_GPT_API_KEY=your_yandex_gpt_api_key
AGENT_YANDEX_GPT_FOLDER_ID=your_yandex_folder_id

AGENT_TAVILY_API_KEY=your_tavily_api_key

DATABASE_NAME=postgres
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres